.Main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-auto-rows: 214px;
  padding: 4em 20em;
  grid-row-gap: 4rem;
  .item {
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 3px 5px 2px #858585;
    overflow: hidden;
    .Title {
      font-size: 2.1em;
    }
    .Text {
      font-size: 1.2em;
    }
  }
}
