.home {
  margin: 0 40px;
  &_title {
    text-align: center;
    margin-top: 40px;
  }
  &_first {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 960px) {
      flex-direction: column;
    }
    &_item {
      @media (max-width: 960px) {
        margin: 2em auto;
      }
      @media (max-width: 475px) {
        width: auto;
      }
      cursor: pointer;
      user-select: none;
      background: #fff;
      box-shadow: 0px 4px 6px -1px #a5a6a7;
      border-radius: 1em;
      padding: 1em;
      width: 401px;
      &_title {
        font-size: 2.5em;
      }
      &_text {
        font-size: 1.2em;
        max-width: 218px;
        padding-bottom: 1em;
      }
      &_link {
        background: #1890ff;
        color: #fff;
        padding: 0.4em 0.9em;
        border-radius: 0.3em;
        border: 1px solid transparent;
        font-weight: 500;
        font-size: 1.1em;
      }
      &_spec {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}
