.Preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
}

.Main {
  margin: 2em 5vw;
  .card_block {
    .card {
      box-shadow: 0 0px 5px 0px #000;
      border-radius: 1rem;
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card_img {
        flex: 40%;
      }
      .card_info {
        margin-left: 1em;
        flex-basis: 60%;
        .card_info_atribut {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          .card_info_atribut_item {
          }
        }
      }
    }
  }
}
